<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Owner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div th:insert="header"/>
    <div class="main-content">
        <div class="container">
            <div class="form-area">
                <h1 class="my-3">Update Owner</h1>
                <form action="#" th:action="@{/owners/updateOwner}" th:object="${owner}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <div class="row my-2">
                        <div class="col-md-3">
                            <label>First Name:</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" th:field="*{firstName}"/>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-3">
                            <label>Last Name:</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" th:field="*{lastName}"/>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-3">
                            <label>Email:</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" th:field="*{email}"/>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-3">
                            <label>Phone Number:</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" th:field="*{phoneNumber}"/>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-3">
                            <label>City:</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" th:field="*{city}"/>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-3">
                            <label>Address:</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control"  th:field="*{address}"/>
                        </div>
                    </div>
                    <th:block th:each="pet, pstat : ${owner.pets}">
                        <input type="hidden" th:field="*{pets[__${pstat.index}__].id}" th:value="${pet.id}">
                        <input type="hidden" th:field="*{pets[__${pstat.index}__].name}" th:value="${pet.name}">
                        <input type="hidden" th:field="*{pets[__${pstat.index}__].birthDate}" th:value="${pet.birthDate}">
                        <input type="hidden" th:field="*{pets[__${pstat.index}__].type.id}" th:value="${pet.type.id}">
                        <input type="hidden" th:field="*{pets[__${pstat.index}__].type.type}" th:value="${pet.type.type}">
                        <th:block th:each="visit, vstat : ${pet.visits}">
                            <input type="hidden"
                                   th:field="*{pets[__${pstat.index}__].visits[__${vstat.index}__].id}"
                                   th:value="${visit.id}">
                            <input type="hidden"
                                   th:field="*{pets[__${pstat.index}__].visits[__${vstat.index}__].visitDate}"
                                   th:value="${visit.visitDate}">
                            <input type="hidden"
                                   th:field="*{pets[__${pstat.index}__].visits[__${vstat.index}__].description}"
                                   th:value="${visit.description}">
                        </th:block>
                    </th:block>
                    <div class="text-center">
                        <input type="submit" class="btn btn-lg btn-success my-3" value="Submit">
                    </div>
                </form>
                <a th:href="@{/owners/list}" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>
</body>
</html>